.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  
  to {
    transform: rotate(360deg);
  }
}


main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

p {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 2rem;
  background: linear-gradient(to bottom, rgb(129, 158, 255), rgb(129, 158, 255) 60%, rgb(0, 0, 0) 60%, rgb(0, 0, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}



p:hover {
  background-position: 0 11px;
}




.h1, .h2 {
	line-height: 1.2;
	margin-bottom: 0.5rem;
	font-weight: 500;
}


.h1 {
  font-size: 1rem;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 250px;
  padding-right: 100px;
 
  
}

.h2 {
  font-size: 1rem;
  display: flex;
  padding-top: -100px;
}

.type {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.Pokedex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: auto;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 100px;
  padding-left: 100px;
}

.img {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 12%;
}

.Card {
  padding: 10px;
  margin : auto;
}

.pokemon-card {
	font-family: "Segoe UI";
	color: #212529;
	display: flex;
	flex-direction: column;
  background: linear-gradient(to right, #d0ece7, #edeed8);
  margin: auto;
	padding: auto;
  box-sizing: border-box; 
	height: 300px;
	width: 185px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
}

.search_bar {
  background-color: transparent;
	background-image: url(https://api.ning.com:80/files/dr2jDpSXWFhyuoGJ4YR5Fu-PwuqLz70YxRaUcpdKNxf2HI5ECzddyx3NHuPz-MB4ujGS4rEtdtS-aQoFlQrtv*XwVOu*AvC8/searchicon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
  margin: 30px 0;
  margin-left: 720px;
	padding: 30 30px;
	position: relative;
  width: 0;  
  border: 2px solid black;
	cursor: text;
	outline: 0;
  width: 230px;  
  display: flex; 
  flex-direction: center; 
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(0, 0, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #a1a1a183, #a1a1a183);; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #a1a1a183, #a1a1a183); 
}

.Pok {
  width: 70%;

}

.imgDetails {
	color: #212529;
	display: flex;
	flex-direction: column;
  margin-right: 100px;
	padding: auto;
  box-sizing: border-box; 
  border-radius: 150px;
  background: linear-gradient(to right, #d0ece7, #edeed8);
	height: 200px;
  width: 200px;
	
}

#imagePok {
  width: 95%;
  margin-top: 10px;
}


table,
td {
    border: 1px solid #333;
    width: 400px;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.Identity {
  background-color: tomato;
  columns: 2;
  padding: 10px;
  margin-top: 30px;
  margin-left: 350px;
  table-layout: fixed;
  width: 50%;
  
}

.Attaques {
  margin-top: 300px;
}


.ID {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  position: relative;
  z-index: 10;
  color: #212529;
  box-shadow: #212529;
  
}

.wrap{
  margin-left:20px;
}

.box{
  width:40%;
  height:200px;
  float:left;
  background-color:white; 
  margin:25px 15px;
  border-radius:5px;
}

.box {
  font-weight:normal;
  text-align:center;
  padding-top:60px;
  color:#fff;
}

.box1{
  background: linear-gradient(to right, #d0ece7, #edeed8);
}

.shadow1 {
  position:relative;
}

.shadow1 {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

/***************************************************************
*dashed border
***************************************************************/

.shadow1  {
  width:50%;
  height:100px;
  margin-left:6%;
  border:2px dashed #F7EEEE;
  border-radius:5px;
}

/****************************************************************
*styling shadows
****************************************************************/

.shadow1:before, .shadow1:after{
  position:absolute;
  content:"";
  bottom:12px;left:15px;top:80%;
  width:45%;
  background:#9B7468;
  z-index:-1;
  -webkit-box-shadow: 0 20px 15px #9B7468;
  -moz-box-shadow: 0 20px 15px #9B7468;
  box-shadow: 0 20px 15px #9B7468;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
  display: flex;
  flex-direction: center;
}

.shadow1:after{
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 15px;left: auto;
}

.shadow1 {
  margin-left: 500px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #c7efff;
  font-family: Arial;
}

svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}




h1 {
  font-size:60px; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
  columns: 2;
}


.blue { color: rgb(255, 0, 0); }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 2em;
  text-align: left;
  color: #ffffff;
  border: none;
  
}




.container {
	  text-align: left;
	  overflow: hidden;
	  width: 30%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border: none;
  
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
  border: none;
  
  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #b9ddff;
    background-color: tomato;
    border-bottom: 1px solid #000;
    
}


.container th {
    background-color: #a6c8ff;
    font-family: 'Fredoka One', cursive;
    
    
}

.container td:first-child { 
  color: #000000;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  columns: 2;
  margin-left : 100px;
  
  
  

}

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
          box-shadow: 0 6px 6px -6px #0E1119;
          
          
          
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  
  
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}



.Numéro {
  margin-top: -70px;
}


.TABLE {
  margin-left: 500px;
  background-color: #403E10;
  
  
}

.pokemonAttribute {
  /* background-color: #403E10; */
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  
}

.TD {
  border-bottom: 1px solid #000;
  /* background-color: tomato; */
}


.AttTemp{
  
	color: #212529;
  background: linear-gradient(to right, #d0ece7, #edeed8);
  box-sizing: border-box; 
	height: 300px;
	width: 185px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
}