.App {
  text-align       : center;
}

.App-logo {
  height           : 40vmin;
  pointer-events   : none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation      : App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color : #282c34;
  min-height       : 100vh;
  display          : flex;
  flex-direction   : column;
  align-items      : center;
  justify-content  : center;
  font-size        : calc(10px + 2vmin);
  color            : white;
}

.App-link {
  color            : #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform      : rotate(0deg);
  }

  
  to {
    transform      : rotate(360deg);
  }
}

/*---------------------------FUNCTION SCSS (Version 4.14.1)---------------------------------------*/

@function pow($number, $exp) {
  $value           : 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}

@function rad($angle) {
  $unit: unit($angle);
  $unitless      : $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians
  @if $unit == deg {
    $unitless    : $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos             : 0;
  $angle           : rad($angle);
  // Iterate a bunch of times
  @for $i from 0 through 10 {
    $cos           : $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

@mixin shade($type, $color: #3498db, $borderColor: #fff, $depth: 20, $angle: 135deg, $long: false, $fade: false) {
    $angle         : ($angle - 90);
    $x             : 1.1 * cos($angle) + 0px;
    $y             : 1.1 * sin($angle) + 0px;
    $darken        : (lightness($color)/$depth)/2;
    $opacify       : 0;
    $shadow        : ();

    @if $long == true{
      $darken:0;
    }

    @if $fade == true {
      $opacify: (opacity($color)/$depth) ;
        // rendering in some browsers
      @include translateZ(0);
    }

    @for $i from 1 through $depth {
      $shadow: $shadow, $i*$x $i*$y 0 hsla(hue($color) , saturation($color), (lightness($color) - ($i * $darken)), 1 - ($i * $opacify));
    }
    #{$type}-shadow :  1.5px 1.5px 0 $borderColor,
                      0px 1.5px 0 $borderColor,
                      -1.5px -1.5px 0 $borderColor,
                      -1.5px -1.5px 0 $borderColor,
                      -1.5px 1.5px 0 $borderColor,
                       1.5px -1.5px 0 $borderColor,
                       $shadow;
}

//basic outline for the text
@mixin outline($color: #fff) {
	text-shadow: 1.5px 1.5px 0 $color,
    			 -1.5px -1.5px 0 $color,
    			 -1.5px -1.5px 0 $color,
    			 -1.5px 1.5px 0 $color,
    			 1.5px -1.5px 0 $color;
}

/*---------------------------FUNCTION SCSS (Version 4.14.1)---------------------------------------*/

/*---------------------------COLORS--------------------------------------*/

$pink		           : #f89bb4;
$pinkPastel	       : #ebaca5;
$pinkDark	         : #e62915;
$pinkGrayed	       : #d38076;
$grayLight	       : #cac6c5;
$offWhite	         : #e7e7e7;
$h1                : rgba(45,45,45,1);
$blue              : #98b5cc;
$yellow            : #ffcc00;
$outline           : rgba(#fff, .4);
$shadow            : rgba($yellow, .5);

/*---------------------------COLORS--------------------------------------*/

/*---------------------------FONTS--------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url(https:fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/*---------------------------FONTS--------------------------------------*/

/*---------------------------BODY---------------------------------------*/

body{
  background: linear-gradient(146deg, rgb(251, 221, 185) 0%, rgb(140, 167, 255) 100%);
}

/*---------------------------BODY---------------------------------------*/
/*---------------------------POKEDEX--------------------------------------*/

.Pokedex {
  padding : 200px 50px 100px 100px;
  display: flex;
	flex-wrap: wrap;
  justify-content: center;
	height: 100%;
  align-items: center;
  text-decoration : none ;
}	

.Card {
  position: relative;
	height: 300px;
	width: 185px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  border-radius: 20px;
  background: rgb(188,232,255);
  background: linear-gradient(176deg, rgba(188,232,255,1) 0%, rgba(250,255,188,1) 100%);
  text-decoration : none ;
}

.Card:hover {
 
  box-shadow   : #000000 -1px 1px, #000000 -2px 2px, #000000 -3px 3px, #000000 -4px 4px, #000000 -5px 5px, #000000 -6px 6px;
  transform    : translate3d(6px, -6px, 0);
  transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
  transition-timing-function: line;
  text-decoration : none ;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  color: #464646;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration : none ;
  outline: none;
}

.POK_ID p small {
  
  margin: auto;
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
  background-color: #feffb7;
  color: rgb(0, 0, 0);
  padding: 3px 1rem;
  border-radius: 30px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration : none ;
  outline: none;
}



h5 {
  left: 100%;
  background-color: #607D8B;
  color: white;
  padding: 3px 1rem;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 70px;
  text-transform: uppercase;
  text-decoration : none ;
  outline: none;
  
}


.img2  {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}
/*---------------------------POKEDEX--------------------------------------*/

/*---------------------------SEARCH BOX--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');



input{
  box-sizing: border-box;
}


.SEARCH_BOX {
  
  position: absolute;
  margin: auto;
  top: -700px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    transition: all 1s;
    
    box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: rgb(255, 255, 255);
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(0, 0, 0);
    color: white;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgb(0, 0, 0),
                0 20px 25px 0 rgba(255, 255, 255, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

/*---------------------------SEARCH BOX--------------------------------------*/

/*---------------------------POKEMON IMAGE DETAILS--------------------------------------*/



.gallery{
  position    :relative;
  height      :100%;
  width       :100%;
}



.shadow{
  position    : absolute;
  top         : 500px;
  left        : 100px;
  width       : 500px;
  height      : 40px;
  border-radius: 50%;
  background  : radial-gradient(#805d78,rgba(0,0,0,0) 70%);
}

img{
  width       :120px;
  height      :120px;
}

.clipped-border{
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
   clip-path  : polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
   padding    :5px;
   background :linear-gradient(rgb(255, 208, 231),rgb(182, 226, 255));
   width      :var(--border-width);
   height     :var(--border-height);
   max-height :250px;
   max-width  :250px;
   height     : 120px;
   width      :120px;
   transition :transform 0.2s;
   position   :absolute;
   cursor     :pointer;
   margin-top: 55px;
   margin-left : 450px;
}

.clipped-border:before{
  content     :'';
  position    :relative;
  opacity     :0.5;
  width       :350px;
  height      :70px;
  background  :white;
  top         :0;
  left        :0;
  z-index     :1;
  transform   :rotate(45deg);
  transition  :transform 0.5s;
}

.clipped-border:hover:before{
  transform   : translate(-100px,400%) rotate(45deg);
  transition  :transform 0.5s;
}

.clipped-border:nth-child(2){
  top         :196px;
  left        :118px;
}

.clipped-border:nth-child(3){
  top         :0;
  left        :235px;
}

.clipped-border:nth-child(4){
  top         :196px;
  left        :353px;
}

.clipped-border:nth-child(5){
  top         :0;
  left        :470px;
}

#clipped {
-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
clip-path     : polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

}

.clipped-border:hover{
  transform   :scale(1.2);
  transition  :transform 0.2s;
  z-index     :10;
}


@media screen and (max-width:500px){
  .clipped-border{
    width     :100px;
    height    :100px;
  }
  
  .clipped-border:nth-child(2){
    top       :0;
    left      :100px;
  }
  
  .clipped-border:nth-child(3){
    left      :200px;
  }
  
  .clipped-border:nth-child(4){
    top       :82px;
    left      :50px;
  }
  
  .clipped-border:nth-child(5){
    top       :82px;
    left      :150px;
  }
}

/*---------------------------POKEMON IMAGE DETAILS--------------------------------------*/

/*---------------------------HOVER TEXTS DETAILS--------------------------------------*/

h1 {
	font-family        : 'PT Sans', sans-serif;
	text-transform     : uppercase;
}
h1 {
  font-size          : 2.4em;
  background-color   : rgba(41, 41, 41, 1);
  text-align         : center;
  padding            : 20px;
  margin             : 0;
  color              : #fff;
  width : 1850px;
  
  a {
    display          : block;
    margin-top       : 10px;
    text-transform   : none;
    color            : #aaa;
    font-size        : 16px;
    text-decoration  : none;
  }
}

// Outer heading wrapper (for descriptions, not for the actual effects)
.headingOuter {
	background         : #f1f1f1;
	text-align         : center;
	margin-top         : 30px;
	border-top         : 1px solid #333;
	border-bottom      : 1px solid #333;

	&:first-child {
		margin-top       : 0;
  }
  
  h1 + & {
    margin-top       : 10px;
  }
}
.headingWrapper {
	text-align         : center;
	background-color   : #fff;
	padding            : 10px;
}

// default header class 
.header {
	display            : inline-block;
	text-align         : center;
	font-family        : 'Francois One', Helvetica, Arial, sans-serif;
	font-size          : 96px;
	color              : $offWhite;
	text-decoration    : none;

	@include outline($grayLight);

	transition: all 0.8s ease-in-out;
}

// effect for pushing the text down onto the page
 .header--pushDown {
		@include shade(text, $pinkDark, #fff, 10, 135deg, true);

		&:hover {
			@include outline($pinkGrayed);
		}
	}

  	
	//push down text
	 .header--pushDown {
		@include shade(text, $pinkGrayed, rgb(0, 0, 0), 10, 135deg, true);

		&:hover {
			@include outline($pinkPastel);
		}
	}

/*---------------------------HOVER TEXT DETAILS---------------------------------------*/

/*---------------------------ID---------------------------------------*/

h6 {
  
	font-family    : 'Francois One', Helvetica, Arial, sans-serif;
	font-size      : 60px;
	text-align     : center;
	line-height    : 1;
	margin         : 0;
	top            : 50%;
  left           : 50%;
  cursor         : default;
	transform      : translate(-50%, -50%);
	position       : absolute;
	color          : $h1;
	letter-spacing : 0rem;
	
	&:before {
		content      : attr(data-heading);
		position     : relative;
		overflow     : hidden;
		color        : $yellow;
		width        : 100%;
		z-index      : 5;
		text-shadow  : none;
		left         : 0%;
		text-align   : left;
		animation    : flicker 3s linear infinite;
	}
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity      : .99;
		text-shadow  : -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity      : 0.4;
		text-shadow  : none;
	}
}

/*---------------------------ID---------------------------------------*/

/*---------------------------TABLE OF ATTRIBUTES---------------------------------------*/



  h4 {
    font-size      : 2em; 
    font-weight    : 300;
    line-height    : 1em;
    text-align     : center;
    color          : #4DC3FA;
    
  
  }
 
  .blue { 
    color          : #185875; 
  }
  .yellow { 
    color          : #FFF842; 
  }
 
  .TABLE_PARENT_ATTRIBUTS th h4 {
    font-weight    : bold;
    font-size      : 2em;
    text-align     : left;
    color          : #185875;
  }
 
  .TABLE_PARENT_ATTRIBUTS td {
    font-weight    : normal;
    font-size      : 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow     : 0 2px 2px -2px #0E1119;
  }
 
  .TABLE_PARENT_ATTRIBUTS {
   
    overflow       : hidden;
    width          : 50%;
    margin         : 0 auto;
    display        : table;
    padding        : 0 0 8em 0;
    
  }
 
  .TABLE_PARENT_ATTRIBUTS td, .TABLE_PARENT_ATTRIBUTS th {
      padding-bottom:2%;
      padding-top  : 2%;
    padding-left   : 2%;  
  }
 
  /* Background-color of the odd rows */
  .TABLE_PARENT_ATTRIBUTS tr:nth-child(odd) {
      background-color: #323C50;
  }
 
  /* Background-color of the even rows */
  .TABLE_PARENT_ATTRIBUTS tr:nth-child(even) {
      background-color: #2C3446;
  }
 
  .TABLE_PARENT_ATTRIBUTS th {
      background-color: #1F2739;
  }
 
  .TABLE_PARENT_ATTRIBUTS td.QUESTION{ 
    color        : #a4fcff; 
    font-size    : 20px;
    text-align: center;
  
  }

  .TABLE_PARENT_ATTRIBUTS td.ANSWER{ 
    color        : #ffffff; 
    font-size    : 20px;
    text-align   : center;
  
  }

  .TABLE_PARENT_ATTRIBUTS tr:hover {
     background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
       -moz-box-shadow: 0 6px 6px -6px #0E1119;
            box-shadow: 0 6px 6px -6px #0E1119;
  }
 
  .TABLE_PARENT_ATTRIBUTS td:hover {
    background-color: #FFF842;
    color        : #403E10;
    font-weight  : bold;
   
    box-shadow   : #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform    : translate3d(6px, -6px, 0);
   
    transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
    transition-timing-function: line;
  }
 
  @media (max-width: 800px) {
  .TABLE_PARENT_ATTRIBUTS td:nth-child(4),
  .TABLE_PARENT_ATTRIBUTS th:nth-child(4) { display: none; }
  }

 /*---------------------------TABLE OF ATTRIBUTES---------------------------------------*/

/*---------------------------ATTAQUES PROPRETIES--------------------------------------*/
 .AttAttributs{
   columns: 2;
   width : 250px; 
   
 }

.AttAttaques {
  display : flex;
  flex-wrap: wrap;
  width          : 70%;
  margin         : 0 auto;
  padding        : 0 0 8em 0;
  margin-top     : 10px;
  align-content : center;
  
}

.AttAttaque {
  background-color: pink;
  border: 1px solid black;
  margin: 10px;
  border-radius : 30px;
}

/*---------------------------ATTAQUES PROPRETIES--------------------------------------*/





