.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  
  to {
    transform: rotate(360deg);
  }
}

.h1, .h2 {
	line-height: 1.2;
	margin-bottom: 0.5rem;
	font-weight: 500;
}


.h1 {
  font-size: 1rem;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 250px;
  padding-right: 100px;
 
  
}

.h2 {
  font-size: 1rem;
  display: flex;
  padding-top: -100px;
}

.type {
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

.Pokedex {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: auto;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 100px;
  padding-left: 100px;
}

.img {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 12%;
}

.Card {
  padding: 10px;
  margin : auto;
}

.pokemon-card {
	font-family: "Segoe UI";
	color: #212529;
	display: flex;
	flex-direction: column;
  background: linear-gradient(to right, #d0ece7, #edeed8);
  margin: auto;
	padding: auto;
  box-sizing: border-box; 
	height: 300px;
	width: 185px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
}

.search_bar {
  background-color: transparent;
	background-image: url(https://api.ning.com:80/files/dr2jDpSXWFhyuoGJ4YR5Fu-PwuqLz70YxRaUcpdKNxf2HI5ECzddyx3NHuPz-MB4ujGS4rEtdtS-aQoFlQrtv*XwVOu*AvC8/searchicon.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border: none;
	cursor: pointer;
	height: 37px;
  margin: 30px 0;
  margin-left: 720px;
	padding: 30 30px;
	position: relative;
  width: 0;  
  border: 2px solid black;
	cursor: text;
	outline: 0;
  width: 230px;  
  display: flex; 
  flex-direction: center; 
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(0, 0, 0); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #a1a1a183, #a1a1a183);; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #a1a1a183, #a1a1a183); 
}

.Pok {
  width: 70%;

}

.imgDetails {
	color: #212529;
	display: flex;
	flex-direction: column;
  margin-right: 100px;
	padding: auto;
  box-sizing: border-box; 
  border-radius: 150px;
  background: linear-gradient(to right, #d0ece7, #edeed8);
	height: 200px;
  width: 200px;
	
}

#imagePok {
  width: 95%;
  margin-top: 10px;
}




.Identity {
  background-color: tomato;
  columns: 5;
  padding: 10px;
  margin-top: 30px;
  
}

.Attaques {
  margin-top: 300px;
}


.ID {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  position: relative;
  z-index: 10;
  color: #212529;
  box-shadow: #212529;
  
}

.wrap{
  margin-left:20px;
}

.box{
  width:40%;
  height:200px;
  float:left;
  background-color:white; 
  margin:25px 15px;
  border-radius:5px;
}

.box {
  font-weight:normal;
  text-align:center;
  padding-top:60px;
  color:#fff;
}

.box1{
  background: linear-gradient(to right, #d0ece7, #edeed8);
}

.shadow1 {
  position:relative;
}

.shadow1 {
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

/***************************************************************
*dashed border
***************************************************************/

.shadow1  {
  width:50%;
  height:100px;
  margin-left:6%;
  border:2px dashed #F7EEEE;
  border-radius:5px;
}

/****************************************************************
*styling shadows
****************************************************************/

.shadow1:before, .shadow1:after{
  position:absolute;
  content:"";
  bottom:12px;left:15px;top:80%;
  width:45%;
  background:#9B7468;
  z-index:-1;
  -webkit-box-shadow: 0 20px 15px #9B7468;
  -moz-box-shadow: 0 20px 15px #9B7468;
  box-shadow: 0 20px 15px #9B7468;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
  display: flex;
  flex-direction: center;
}

.shadow1:after{
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 15px;left: auto;
}

.shadow1 {
  margin-left: 500px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #c7efff;
  font-family: Arial;
}

svg {
  display: block;
  font: 10.5em 'Montserrat';
  width: 960px;
  height: 300px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}